.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background: #355c7d;
    background: -webkit-linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
    background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Landing page Start  */

.spnd-btn {
    width: 9rem;
    border-color: #fff;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    height: 4.4rem;
    line-height: calc(5.4rem - 2rem);
    margin: 0.5rem 4rem;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
    background-color: #c5c5c5;
    background: 0 0!important;
    border: .2rem solid #c5c5c5;
    color: #fff;
}

.spnd-btn:hover {
    background: #c06c842b !important;
    color: #ffff;
    border: .1rem solid #fff !important;
    letter-spacing: 0.3rem;
}

.login-modal .modal-content {
    background: -webkit-linear-gradient(to right, #517898, #867694, #bd8092);
    background: linear-gradient(to right, #517898, #867694, #bd8092)
}

.login-modal .modal-content .spnd-btn {
    border-color: transparent;
}

.login-usr-icn,
.login-key-icn {
    margin-left: 20px;
    font-size: 25px;
    color: #ffffffa6;
}

.login-modal .modal-header {
    color: #ffffffa6;
    border-bottom: 0.4px solid #ffffffa6;
}

.login-modal .modal-body {
    margin-top: 20px;
}

.login-modal .modal-footer {
    color: #ffffffa6;
    border-top: 0.4px solid #ffffffa6;
}

.login-modal .form-group {
    margin-bottom: 2rem;
}


/* landing page end  */